{
  rules: {
    no-console: 1,
    no-unused-vars: [1, { "args": "none" }],
    semi: [2, "always"],
    strict: [2, "global"],
    quotes: [2, "single"]
  },
  extends: "eslint:recommended",
  env: {
    "browser": true,
    "node": true
  },
  globals: {
    require: true,
    $: true
  }
}